body{
    margin:0;
    padding: 0;
 background:linear-gradient(120deg, #05073a,#dc0606ca);
    height: 100vh;
    overflow: hidden;
 
}
button{ 
    width:75%;
    height: 50px;
    border: 1px solid;
    background: #bd055b;
    border-radius: 25px;
    font-size:18px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    color:#fff;

}
button:hover{
    border-color: #2691d9;
    transition: .5s;
}
.card-signup-link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.card-signup-link a{
    color:#2691d9;
    text-decoration: none;
}
.card-signup-link a:hover{
    text-decoration: underline;
}